.catlist {
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  border-radius: 0.25rem;
  padding: 1rem 0;
}

.catlist input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.catlist .tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.catlist .tab-label {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  color: #444;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 0;
  display: block;
  margin-bottom: 0;
  font-size: 1.1rem;
  /* Arrow Icon */
}

.catlist .tab-label::before {
  content: "\276F";
  width: 2em;
  height: auto;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
  vertical-align: middle;
  display: inline-block;
  line-height: inherit;
}

.catlist .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.catlist .tab-content .mat-selection-list {
  padding-top: 0;
}

.catlist .tab-content .mat-selection-list .mat-list-item {
  height: 34px;
  font-size: 1rem;
  font-family: source sans pro,sans-serif;
}

.catlist input:checked + .tab-label::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.catlist input:checked ~ .tab-content {
  max-height: 100vh;
}
/*# sourceMappingURL=filter-list.component.css.map */