<div class="section-title top-stories-heading">
  <h4>THE DAILY ROUNDUP</h4>
  <h5>Top stories around on the boardCast</h5>
  <div class="title-divider left-tri"></div>
</div>
<div class="left-sidebar">
  <mat-card class="example-card counter-card mb-4">
    <h6>"Outer Banks’: Charles Esten, Chase Stokes, Madelyn Cline Among 8 Cast In Dharma Production Drama Series”</h6>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, nam at assueverit voluptatibus, ut oratio postulant pri. Ius ei epicuri petentium moderatius, te sed diam iriure scripta. Ad ipsum copiosae vim. Et vidisse vituperatoribus usu, suas dicit oportere eu ius. </p>
      <mat-card-subtitle>Variety</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card counter-card mb-4">
    <h6>"Madelyn Cline Among 8 Cast In Dharma Production Drama Series”</h6>
    <mat-card-content>
      <p>Ius ei epicuri petentium moderatius, te sed diam iriure scripta. Ad ipsum copiosae vim. Et vidisse vituperatoribus usu, suas dicit oportere eu ius. Vim et facilis probatus moderatius, clita aeterno impedit ad qui, quaeque volutpat ea eum. Moderatius complectitur ei est.</p>
      <mat-card-subtitle>Variety</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card counter-card mb-4">
    <h6>"Outer Banks’: Charles Esten, Chase Stokes, Madelyn Cline Among 8 Cast In Dharma Production Drama Series”</h6>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, nam at assueverit voluptatibus, ut oratio postulant pri. Ius ei epicuri petentium moderatius, te sed diam iriure scripta. Ad ipsum copiosae vim. Et vidisse vituperatoribus usu, suas dicit oportere eu ius. </p>
      <mat-card-subtitle>Variety</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card counter-card mb-4">
    <h6>"Madelyn Cline Among 8 Cast In Dharma Production Drama Series”</h6>
    <mat-card-content>
      <p>Ius ei epicuri petentium moderatius, te sed diam iriure scripta. Ad ipsum copiosae vim. Et vidisse vituperatoribus usu, suas dicit oportere eu ius. Vim et facilis probatus moderatius, clita aeterno impedit ad qui, quaeque volutpat ea eum. Moderatius complectitur ei est.</p>
      <mat-card-subtitle>Variety</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
