<div class="auth-page">
  <div class="parent align-items-center">
    <div class="child">
      <div class="login--box text-center">
        <!-- <h1 class="text-xs-center">{{ title }}</h1> -->

        <div class="py-2">
          <a routerLink="/"><img src="../../../assets/images/logo.png" class="img-fluid" /></a>
        </div>
        <p class="text-xs-center">
          Login to your boardCAst accout
        </p>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">


            <div class="login-fields">
              <mat-form-field>
                <input matInput formControlName="email" placeholder="Email" type="text" />
                <mat-error>Invalid email address.</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput formControlName="password" placeholder="Password" type="password" />
                <mat-error>Invalid password.</mat-error>
              </mat-form-field>
            </div>
            <p class="text-left"><a href="/">Forgot Password?</a></p>
            <button mat-flat-button color="accent" routerLinkActive="active" class="w-100 pull-xs-right"
              [disabled]="!authForm.valid" type="submit">
              {{ title }}
            </button>
            <p>Don't have an account? <a href="/">Register Now</a></p>
          </fieldset>
        </form>
        <div class="text-muted">OR</div>
        <button id="google-signin-button" type="button" class="css-1n47xea"><span class="css-1vqao0l"><span
              class="css-t5emrf"><img
                src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.87/static/media/google-logo.c21ca9d1.svg"
                alt="" style="height: 18px; margin-right: 8px; vertical-align: middle; width: 18px;"><span>Log in with
                Google</span></span></span></button>
        <button id="google-signin-button" type="button" class="css-1n47xea"><span class="css-1vqao0l"><span
              class="css-t5emrf"><img
                src="https://aid-frontend.prod.atl-paas.net/atlassian-id/front-end/5.0.87/static/media/google-logo.c21ca9d1.svg"
                alt="" style="height: 18px; margin-right: 8px; vertical-align: middle; width: 18px;"><span>Log in with
                Facebook</span></span></span></button>

      </div>
      <ul class="fine-print text-center">
        <li><a href="https://www.atlassian.com/company/privacy" target="_blank" rel="noreferrer noopener"><span>Privacy
              policy</span></a></li>
        <li><a href="https://www.atlassian.com/end-user-agreement" target="_blank" rel="noreferrer noopener"><span>Terms
              of use</span></a></li>
      </ul>
    </div>
  </div>
</div>