.login-fields {
    display: flex;
    flex-direction: column;
  }
  
  .login-fields > * {
    width: 100%;
  }
  .Hjfk {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
  .login--box {
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    box-sizing: border-box;
    color: rgb(94, 108, 132);
    margin: 0px auto  ;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}
.fine-print {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 10px;
}
.fine-print > li  {
  display: inline;
  font-size: 0.9rem;
}
.fine-print > li + li::before {
    content: "•";
    margin: 0px 8px;
}