$midnight: #2c3e50;
$clouds: #ecf0f1;


.catlist {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border: 0;
    border-radius: 0.25rem;
    padding: 1rem 0;
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
      .tab {
        width: 100%;
        color: white;
        overflow: hidden;
        &-label {
          justify-content: start;
          color: #444;
          font-weight: bold;
          cursor: pointer;
          padding: 10px 0;
          display: block;
          margin-bottom: 0;
          font-size: 1.1rem;
          
          /* Arrow Icon */
          &::before {
            content: "\276F";
            width: 2em;
            height: auto;
            text-align: center;
            transition: all .35s;
            vertical-align: middle;
            display: inline-block;
            line-height: inherit;
          }
        }
        &-content {
          max-height: 0;
          padding: 0 1em;
          color: $midnight;
          transition: all .35s;
          .mat-selection-list {
              padding-top: 0;
              .mat-list-item {
                  height: 34px;
                  font-size: 1rem;
                  font-family: source sans pro,sans-serif;
              }
          }
        }
      }
      // :checked
      input:checked {
        + .tab-label {
          //background: darken($midnight, 10%);
          &::before {
            transform: rotate(90deg);
          }
        }
        ~ .tab-content {
          max-height: 100vh;
        }
      }
}

  
 
  