<div class="right-sidebar">
  
  <mat-card class="example-card mb-4">
    <h5>Fashion & Lifestyle</h5>
    <img class="img-fluid" src="../../../assets/images/fashion-lifestyle.jpg" alt="Fashion Lifestyle">
    <mat-card-content>
      <mat-card-subtitle>Fashion Week</mat-card-subtitle>
      <a href="#">Resort 2020, Pat McGrath Time's 100 and more of the news from this week</a>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card mb-4">
    <a href="#"><img src="../../../assets/images/contest-img.jpg" class="img-fluid" /></a>
  </mat-card>

  <div class="card bg-warning text-white text-center p-2">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
    </blockquote>
    <small class="text-muted">
      Someone famous in <cite title="Source Title">Source Title</cite>
    </small>
  </div>
  <div class="testimonial card text-center my-4">
    <div id="carouselTestimonial" class="carousel slide" data-ride="carousel">
      <div class="title">
        <h4>Testimonial</h4>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carouselTestimonial" data-slide-to="0" class="active"></li>
        <li data-target="#carouselTestimonial" data-slide-to="1"></li>
        <li data-target="#carouselTestimonial" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-fluid rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" alt="First slide">
          <h4 class="font-weight-bold">Anna Deynah</h4>
          <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
          <h5>First slide label</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.
          </p>
        </div>
        <div class="carousel-item">
          <img class="img-fluid rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" alt="Second slide">
          <h4 class="font-weight-bold">Anna Deynah</h4>
          <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
          <h5>First slide label</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.
          </p>
        </div>
        <div class="carousel-item">
          <img class="img-fluid rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" alt="Third slide">
          <h4 class="font-weight-bold">Anna Deynah</h4>
          <h6 class="font-weight-bold my-3">Founder at ET Company</h6>
          <h5>First slide label</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab.
          </p>
        </div>
      </div>
      <!--<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>-->
    </div>
  </div>





</div>
