<section class="signup py-2">
  <div class="container">
    
    <div class="row align-items-center">
      <div class="col-md-5">
        <h4 class="text-white py-3">Make the most of your professional profile</h4>
        <h5>Few moments to submit your resume can take your career long way ahead!</h5>
        <h2>Great Benefits only on boardCAst</h2>
        <ul>
          <li>More than 2, 00,000 Top Jobs waiting for you</li>
          <li>Get headhunted by over 25,000 respected employers </li>
          <li>searching our resume database</li>
          <li>Receive matching jobs on your email twice a week</li>
        </ul>
        <h5>Register Now on boardCAst and get set to receive your dream job. Because you are worth more</h5>
      </div>

      <div class="col-md-7">
        <form [formGroup]="service.form" (ngSubmit)="submitForm()" class="normal-form registration-form">
          <h5 class="text-xs-center">{{ title }}</h5>
          <p class="text-xs-center">
            <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
            <a [routerLink]="['/register']" *ngIf="authType == 'login'">Need an account?</a>
          </p>


          <h5 class="text-darkblue text-center pt-2">Create your account</h5>
          <p class="text-center">Create an account to discuss, publish, and manage all of your profile.</p>

          <div class="controles-container">
            <mat-form-field>
              <input formControlName="fullName" matInput placeholder="Full Name / Company Name*">
              <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="mobile" matInput placeholder="Mobile*">
              <mat-error *ngIf="service.form.controls['mobile'].errors?.required">This field is mandatory.</mat-error>
              <mat-error *ngIf="service.form.controls['mobile'].errors?.minlength">Minimum 8 charactors needed.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="email" matInput placeholder="Email ID*">
              <mat-error>Invalid email address.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="password" matInput placeholder="Password*">
              <mat-error>Invalid password.</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Gender*</mat-label>
              <mat-select>
                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                  {{gender.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input formControlName="pincode" matInput placeholder="Pincode / Zipcode*">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="city" matInput placeholder="City">
            </mat-form-field>
            <mat-form-field>
              <input formControlName="state" matInput placeholder="State">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Select Your Country</mat-label>
              <mat-select>
                <mat-option *ngFor="let country of countries" [value]="country.value">
                  {{country.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Your Interest</mat-label>
              <mat-select>
                <mat-option *ngFor="let interest of interests" [value]="interest.value">
                  {{interest.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="add-bottom-padding py-3">
            <mat-radio-group formControlName="gender">
              <mat-radio-button value="1">Production/Crew</mat-radio-button>
              <mat-radio-button value="2">Performers</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="add-bottom-padding">
            <mat-checkbox formControlName="iAgree"> I Agree to the <a href="" routerLink="/" class="text-pink">Terms of Conditions and Privacy Policy.</a></mat-checkbox>

          </div>
          <div class="button-row text-center">
            <button mat-flat-button mat-accent class="full-wd py-2" color="accent" type="submit" [disabled]="service.form.invalid">Create your account</button>
            <!--<button mat-raised-button class="" color="warn" (click)="onClear()">Clear</button>-->
            <p>Already have an account? <a href="" routerLink="/login" class="text-pink">Login</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
