<footer>
  <div class="container text-center">
    <a class="logo-font" routerLink="/">boardCAst</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}
      Boardcast All Rights Reserved.
    </span>
  </div>
</footer>
