<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand logo" routerLink="/"><img src="../../../assets/images/logo.png" class="img-fluid" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/test" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Artists
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/female-artists" href="#">Female</a>
            <a class="dropdown-item" href="#">Male</a>
            <a class="dropdown-item" href="#">Kids</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Production / Crew
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Films</a>
            <a class="dropdown-item" href="#">TV/Serial</a>
            <div class="dropdown-divider">Web Series</div>
            <a class="dropdown-item" href="#">Short Films</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Models
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Female</a>
            <a class="dropdown-item" href="#">Male</a>
            <a class="dropdown-item" href="#">Kids</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Auditions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Hindi Movies</a>
            <a class="dropdown-item" href="#">South Movies</a>
            <a class="dropdown-item" href="#">Bhojpuri Movies</a>
          </div>
        </li>

        <!--<li class="nav-item">
    <a class="nav-link"
       routerLink="/registration">
      Contest
    </a>
  </li>-->

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/">
            Acting Tips
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/app-employee">
            Blogs
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
             routerLink="/">
            <i class="material-icons" matBadge="8" matBadgePosition="after" matBadgeColor="accent">
              notifications_none
            </i>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons float-left" matBadgePosition="after" matBadgeColor="accent">
              person
            </i>
          </a>
          <div class="dropdown-menu dropdown-btn" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/login">Login</a>
            <div class="dropdown-divider"></div>
            <button mat-flat-button color="accent" routerLink="/signup"
                    routerLinkActive="active" class="mr-sm-2" type="submit">
              <i class="material-icons">
                person
              </i>
              Sign Up
            </button>

          </div>
        </li>

      </ul>
      <!--<form class="form-inline my-2 my-lg-0">
        <a mat-button routerLink=".">
          <i class="material-icons" matBadge="8" matBadgePosition="after" matBadgeColor="accent">
            notifications_none
          </i>
        </a>

        <a mat-button routerLink=".">
          <i class="material-icons" matBadgePosition="after" matBadgeColor="accent">
            person
          </i>
        </a>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons" matBadgePosition="after" matBadgeColor="accent">
              person
            </i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/">Sign in</a>
            <div class="dropdown-divider"></div>
            <button mat-flat-button color="accent" routerLink="/register"
                    routerLinkActive="active" class="mr-2" type="submit">
              <i class="material-icons">
                person
              </i>
              Sign up
            </button>
          </div>
        </li>

        <button mat-stroked-button color="accent" routerLink="/login"
                routerLinkActive="active" class="mr-sm-2" type="submit">
          <i class="material-icons">
            person
          </i>
          Sign in
        </button>

        <button mat-flat-button color="accent" routerLink="/register"
          routerLinkActive="active" class="mr-2" type="submit">
    <i class="material-icons">
      person
    </i>
    Sign up
  </button>
  <button mat-flat-button color="orange" routerLink="/login"
          routerLinkActive="active" class="mr-sm-2" type="submit">
    <i class="material-icons">playlist_add</i>
    Post a Job
  </button>
      </form>-->
    </div>
    </div>
</nav>

