<section class="listing-pages artist-cards mt-3">
  <div class="container">
   
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li><a href="#">Home <i class="material-icons">arrow_right</i> </a></li>
        <li class="active" aria-current="page">Artists</li>
      </ol>
    </nav>
  
    <div class="row">
      <div class="col-md-3">
        <app-filter-list></app-filter-list>
      </div>
      <div class="col-md-9">
        
        <div class="card-deck text-center">
          <div class="card hoverButton">
            <div class="card-body">
              <span class="material-icons star-artist text-primary">star</span>
              <img class="img-fluid circular--img rounded-circle" alt="100x100" src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2019/09/24/Pictures/_74fbf2a4-de83-11e9-a910-fb95b571a1f5.PNG" data-holder-rendered="true">
              <h5 class="card-title">Juhi Chawla (52yrs)</h5>
              <button mat-flat-button color="accent" routerLink="/"
                    class="my-2" type="submit">
              Add to Favourites
              <i class="material-icons"> favorite </i>
            </button>
              <p class="card-text"><span>height: 5'6"</span> <span>Eyes: Brown</span> <span>Figure: 36-26-36</span></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <button mat-stroked-button color="warn" class="buttonoverlap" routerLink="/" type="button">
              <i class="material-icons">visibility</i>
                Quick View
            </button>
          </div>
          <div class="card hoverButton">
            <div class="card-body">
              <span class="material-icons star-artist text-primary">star</span>
              <img class="img-fluid circular--img rounded-circle" alt="100x100" src="https://pbs.twimg.com/profile_images/710482370814550016/wrkIRdtj_400x400.jpg" data-holder-rendered="true">
              <h5 class="card-title">Shelby Wyatt (34yrs)</h5>
              <button mat-flat-button color="accent" routerLink="/"
                    class="my-2" type="submit">
              Add to Favourites
              <i class="material-icons"> favorite </i>
            </button>
              <p class="card-text"><span>height: 5'6"</span> <span>Eyes: Brown</span> <span>Figure: 36-26-36</span></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <button mat-stroked-button color="warn" class="buttonoverlap" routerLink="/" type="button">
              <i class="material-icons">visibility</i>
                Quick View
            </button>
          </div>
          <div class="card hoverButton">
            <div class="card-body">
              <span class="material-icons star-artist text-primary">star</span>
              <img class="img-fluid circular--img rounded-circle" alt="100x100" src="https://files.prokerala.com/res/images/news/962092-shahid-kapoor-873635_1200.jpg" data-holder-rendered="true">
              <h5 class="card-title">Shahid Kapoor (39yrs)</h5>
              <button mat-flat-button color="accent" routerLink="/"
                    class="my-2" type="submit">
              Add to Favourites
              <i class="material-icons"> favorite </i>
            </button>
              <p class="card-text"><span>height: 5'6"</span> <span>Eyes: Brown</span> <span>Figure: 36-26-36</span></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <button mat-stroked-button color="warn" class="buttonoverlap" routerLink="/" type="button">
              <i class="material-icons">visibility</i>
                Quick View
            </button>
          </div>
          
        
          <div class="card hoverButton">
            <div class="card-body">
              <span class="material-icons star-artist text-primary">star</span>
              <img class="img-fluid circular--img rounded-circle" alt="100x100" src="https://m.media-amazon.com/images/M/MV5BYjg2ZWRlNWMtNmVjMi00Nzc3LWE5YjMtM2E1ZTU5M2MzMDE2XkEyXkFqcGdeQXVyNTQ3NzUyNzI@._V1_.jpg" data-holder-rendered="true">
              <h5 class="card-title">Rose Williams (32yrs)</h5>
              <button mat-flat-button color="accent" routerLink="/"
                    class="my-2" type="submit">
              Add to Favourites
              <i class="material-icons"> favorite </i>
            </button>
              <p class="card-text"><span>height: 5'6"</span> <span>Eyes: Brown</span> <span>Figure: 36-26-36</span></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <button mat-stroked-button color="warn" class="buttonoverlap" routerLink="/" type="button">
              <i class="material-icons">visibility</i>
                Quick View
            </button>
          </div>
          <div class="card hoverButton">
            <div class="card-body">
              <span class="material-icons star-artist text-primary">star</span>
              <img class="img-fluid circular--img rounded-circle" alt="100x100" src="https://www.biography.com/.image/t_share/MTQzMjgyNDgwNjIxODIzNTU5/jennifer-lawrence_gettyimages-626382596jpg.jpg" data-holder-rendered="true">
              <h5 class="card-title"> Jennifer Lawrence (39yrs)</h5>
              <button mat-flat-button color="accent" routerLink="/"
                    class="my-2" type="submit">
              Add to Favourites
              <i class="material-icons"> favorite </i>
            </button>
              <p class="card-text"><span>height: 5'6"</span> <span>Eyes: Brown</span> <span>Figure: 36-26-36</span></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <button mat-stroked-button color="warn" class="buttonoverlap" routerLink="/" type="button">
              <i class="material-icons">visibility</i>
                Quick View
            </button>
          </div>
          <div class="card hoverButton">
            <div class="card-body">
              <span class="material-icons star-artist text-primary">star</span>
              <img class="img-fluid circular--img rounded-circle" alt="100x100" src="https://static.abplive.com/wp-content/uploads/2019/12/03141558/SRK-site.jpg" data-holder-rendered="true">
              <h5 class="card-title">Shahrukh Khan (54yrs)</h5>
              <button mat-flat-button color="accent" routerLink="/"
                    class="my-2" type="submit">
              Add to Favourites
              <i class="material-icons"> favorite_border </i>
            </button>
              <p class="card-text"><span>height: 5'6"</span> <span>Eyes: Brown</span> <span>Figure: 36-26-36</span></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <button mat-stroked-button color="warn" class="buttonoverlap" routerLink="/" type="button">
              <i class="material-icons">visibility</i>
                Quick View
            </button>
          </div>


        
          <div class="card hoverButton">
            <div class="card-body">
              <span class="material-icons star-artist text-primary">star</span>
              <img class="img-fluid circular--img rounded-circle" alt="100x100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Kajal_Aggarwal_on_the_sets_of_Queen_Kannada_remake.jpg/220px-Kajal_Aggarwal_on_the_sets_of_Queen_Kannada_remake.jpg" data-holder-rendered="true">
              <h5 class="card-title">Kajal Aggarwal (34yrs)</h5>
              <button mat-flat-button color="accent" routerLink="/"
                    class="my-2" type="submit">
              Add to Favourites
              <i class="material-icons"> favorite </i>
            </button>
              <p class="card-text"><span>height: 5'6"</span> <span>Eyes: Brown</span> <span>Figure: 36-26-36</span></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <button mat-stroked-button color="warn" class="buttonoverlap" routerLink="/" type="button">
              <i class="material-icons">visibility</i>
                Quick View
            </button>
          </div>
          <div class="card hoverButton">
            <div class="card-body">
              <span class="material-icons star-artist text-primary">star</span>
              <img class="img-fluid circular--img rounded-circle" alt="100x100" src="https://imagevars.gulfnews.com/2019/02/09/TAB-190209-Akshay-Kumar-1549696932131_16a4a15c11c_large.jpg" data-holder-rendered="true">
              <h5 class="card-title">Akshay Kumar (52yrs)</h5>
              <button mat-flat-button color="accent" routerLink="/"
                    class="my-2" type="submit">
              Add to Favourites
              <i class="material-icons"> favorite </i>
            </button>
              <p class="card-text"><span>height: 5'6"</span> <span>Eyes: Brown</span> <span>Figure: 36-26-36</span></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <button mat-stroked-button color="warn" class="buttonoverlap" routerLink="/" type="button">
              <i class="material-icons">visibility</i>
                Quick View
            </button>
          </div>
          <div class="card hoverButton">
            <div class="card-body">
              <span class="material-icons star-artist text-primary">star</span>
              <img class="img-fluid circular--img rounded-circle" alt="100x100" src="https://www.telegraph.co.uk/content/dam/health-fitness/2018/10/10/TELEMMGLPICT000137602298_trans_NvBQzQNjv4Bq6L3Bx11x18zbsv4k04trOLQwDzZ7lnsLeYSCKv0SGGE.jpeg?imwidth=1400" data-holder-rendered="true">
              <h5 class="card-title">Tom Cruise (57yrs)</h5>
              <button mat-flat-button color="accent" routerLink="/"
                    class="my-2" type="submit">
              Add to Favourites
              <i class="material-icons"> favorite </i>
            </button>
              <p class="card-text"><span>height: 5'6"</span> <span>Eyes: Brown</span> <span>Figure: 36-26-36</span></p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
            <button mat-stroked-button color="warn" class="buttonoverlap" routerLink="/" type="button">
              <i class="material-icons">visibility</i>
                Quick View
            </button>
          </div>
        </div>

        <app-paginator></app-paginator>
      </div>
    </div>
    
  </div>
</section>
