<div class="home-page">
  <div class="banner text-center">
    <div class="container">
      <div class="col-md-6 bg-gradient offset-md-3">
        <h3>10,000+ Opportunity. Find better</h3>

        <div class="search-box input-group mb-3">
          <span class="fa fa-search form-control-feedback"></span>
          <input class="form-control py-0" type="search" placeholder="Search by keyword..." value="" id="example-search-input">
          <span class="input-group-append">
            <button mat-flat-button color="primary" type="button"> Search </button>
          </span>
        </div>
        <button mat-flat-button color="accent" routerLink="/signup" class="mr-2 wb-50 mb-2"><i class="material-icons">person</i> Sign Up </button>
        <button mat-flat-button color="orange" class="py-0 wb-50 mb-2"><i class="material-icons">playlist_add</i> Post Your Requirement </button>

      </div>
   </div>
  </div>

  <div class="production-houses">
    <div class="container">
      <div class="row blog">
        <div class="col-md-12">
          <div id="productionHouses" class="carousel slide mb-4" data-ride="carousel">
            <div class="section-title mb-4">
              <h5>Productions / Crew</h5>
            </div>


      <!-- Carousel items -->
            <div class="carousel-inner text-center">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-2">
                    <a href="#">
                      <img src="../../../assets/images/production-houses/yrf.png" class="img-fluid" />
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">
                      <img src="../../../assets/images/production-houses/aamir_production.png" class="img-fluid" />
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">
                      <img src="../../../assets/images/production-houses/dharma-production.jpg" class="img-fluid" />
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">
                      <img src="../../../assets/images/production-houses/red_chillies.png" class="img-fluid" />
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">
                      <img src="../../../assets/images/production-houses/t-series.png" class="img-fluid" />
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">
                      <img src="../../../assets/images/production-houses/sun-studio.png" class="img-fluid" />
                    </a>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-2">
                    <a href="#">
                      <img src="../../../assets/images/production-houses/dharma-production.jpg" class="img-fluid" />
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">
                      <img src="../../../assets/images/production-houses/yrf.png" class="img-fluid" />
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">
                      <img src="../../../assets/images/production-houses/aamir_production.png" class="img-fluid" />
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">
                      <img src="../../../assets/images/production-houses/t-series.png" class="img-fluid" />
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">
                      <img src="../../../assets/images/production-houses/utv.jpg" class="img-fluid" />
                    </a>
                  </div>
                  <div class="col-md-2">
                    <a href="#">
                      <img src="../../../assets/images/production-houses/sun-studio.png" class="img-fluid" />
                    </a>
                  </div>
                </div>
              </div>
              <!--.Carousel-->
              <a class="carousel-control-prev" href="#productionHouses" role="button" data-slide="prev">
                <i class="material-icons">
                  keyboard_arrow_left
                </i>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#productionHouses" role="button" data-slide="next">
                <i class="material-icons">
                  keyboard_arrow_right
                </i>
                <span class="sr-only">Next</span>
              </a>
            </div>
            
          </div>
        </div>
    </div>
  </div>
    </div>


  <div class="container main-content">

    <div class="row">
      <div class="col-md-3">
        <app-top-stories></app-top-stories>
      </div>
      <div class="col-md-6">
        <app-home-articles></app-home-articles>
      </div>
      <div class="col-md-3">
        <app-right-sidebar></app-right-sidebar>
      </div>

      <!--<div class="col-md-9">
      <div class="feed-toggle">
        <ul class="nav nav-pills outline-active">
          <li class="nav-item">
            <a class="nav-link"
               [ngClass]="{'active': listConfig.type === 'feed'}"
               (click)="setListTo('feed')">
              Your Feed
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               [ngClass]="{'active': listConfig.type === 'all' && !listConfig.filters.tag}"
               (click)="setListTo('all')">
              Global Feed
            </a>
          </li>
          <li class="nav-item" [hidden]="!listConfig.filters.tag">
            <a class="nav-link active">
              <i class="ion-pound"></i> {{ listConfig.filters.tag }}
            </a>
          </li>
        </ul>
      </div>

      <app-article-list [limit]="10" [config]="listConfig"></app-article-list>
    </div>

    <div class="col-md-3">
      <div class="sidebar">
        <p>Popular Tags</p>

        <div class="tag-list">
          <a *ngFor="let tag of tags"
             (click)="setListTo('all', {tag: tag})"
             class="tag-default tag-pill">
            {{ tag }}
          </a>
        </div>

        <div [hidden]="tagsLoaded">
          Loading tags...
        </div>

        <div [hidden]="!tagsLoaded || tags.length > 0">
          No tags are here... yet.
        </div>
      </div>
    </div>-->

    </div>
  </div>
</div>
