<div class="articles-banners mb-4">
  <div id="carouselExampleIndicators" class="card carousel slide card" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/images/bn-1.jpg" class="img-fluid" />
        <article class="d-none d-md-block caption light-transprent">
          <button mat-raised-button color="accent">Acting</button>
          <h5>Why Are Commercial Auditions so Last Minute?</h5>
        </article>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/bn-2.jpg" class="img-fluid" />
        <article class="d-none d-md-block caption light-transprent">
          <button mat-raised-button color="accent">Acting</button>
          <h5>Not only looks and style, but he is also an acclaimed actor and known for powerful performances</h5>
        </article>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/bn-3.jpg" class="img-fluid" />
        <article class="d-none d-md-block caption light-transprent">
          <button mat-raised-button color="accent">Acting</button>
          <h5>Why Are Commercial Auditions so Last Minute?</h5>
        </article>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/images/bn-4.jpg" class="img-fluid" />
        <article class="d-none d-md-block caption light-transprent">
          <button mat-raised-button color="accent">Acting</button>
          <h5>Why Are Commercial Auditions so Last Minute?</h5>
        </article>
      </div>
    </div>
  </div>
</div>

<div class="section-title">
  <h4>Latest Auditions</h4>
  <a routerLink="." class="absolute-btn text-pink"><strong>View All</strong></a>
  <div class="title-divider right-tri"></div>
</div>

<div class="card mb-4">
  <div class="card-body latest-post">
    <h6 class="card-title">Female Lyricist / Song Writers</h6>
    <h6 class="card-subtitle mb-2 text-lightten">Dhirajj Walks of Art Private Limited</h6>
    <p class="card-text">We are looking for Fresh and original Lyricist/ Songwriters within the age of 18 - 60 years for an upcoming project with Gaurav Dasgupta. Please submit your lyr...</p>
    <p>
      <span><i class="material-icons">date_range</i> 18-35 Years </span> &nbsp;
      <span><i class="material-icons">room</i> Mumbai </span>
    </p>
    <div class="row">
      <div class="col-md-6"><span><i class="material-icons">open_in_new</i> Open </span></div>
      <div class="col-md-6 text-right"><span> Posted by <i class="material-icons">account_circle</i> Alex Roy, 2 days ago</span></div>
    </div>
    <button mat-raised-button color="accent" class="float-right mt-2">Apply</button>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body latest-post">
    <h6 class="card-title">Female Lyricist / Song Writers</h6>
    <h6 class="card-subtitle mb-2 text-lightten">Dhirajj Walks of Art Private Limited</h6>
    <p class="card-text">We are looking for Fresh and original Lyricist/ Songwriters within the age of 18 - 60 years for an upcoming project with Gaurav Dasgupta. Please submit your lyr...</p>
    <p>
      <span><i class="material-icons">date_range</i> 18-35 Years </span> &nbsp;
      <span><i class="material-icons">room</i> Mumbai </span>
    </p>
    <div class="row">
      <div class="col-md-6"><span><i class="material-icons">open_in_new</i> Open </span></div>
      <div class="col-md-6 text-right"><span> Posted by <i class="material-icons">account_circle</i> Alex Roy, 2 days ago</span></div>
    </div>
    <button mat-raised-button color="accent" class="float-right mt-2">Apply</button>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body latest-post">
    <h6 class="card-title">Female Lyricist / Song Writers</h6>
    <h6 class="card-subtitle mb-2 text-lightten">Dhirajj Walks of Art Private Limited</h6>
    <p class="card-text">We are looking for Fresh and original Lyricist/ Songwriters within the age of 18 - 60 years for an upcoming project with Gaurav Dasgupta. Please submit your lyr...</p>
    <p>
      <span><i class="material-icons">date_range</i> 18-35 Years </span> &nbsp;
      <span><i class="material-icons">room</i> Mumbai </span>
    </p>
    <div class="row">
      <div class="col-md-6"><span><i class="material-icons">open_in_new</i> Open </span></div>
      <div class="col-md-6 text-right"><span> Posted by <i class="material-icons">account_circle</i> Alex Roy, 2 days ago</span></div>
    </div>
    <button mat-raised-button color="accent" class="float-right mt-2">Apply</button>
  </div>
</div>
