.articles-banners {
  position:relative;
}
.articles-banners .caption {
  position: absolute;
  bottom: 0;
  padding:1rem;
  width:100%;
}

.light-transprent {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}

